{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}LogIn{% endblock %}

{% block content %}

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-lg-offset-4">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-block alert-success" role="alert">
                            <h4>Alert Message Success</h4>
                            <p>{{ message }}</p>
                        </div>

                    {% endfor %}

                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                         <div class="alert alert-block alert-danger" role="alert">
                            <h4>Please login to see this page.</h4>
                        </div>
                    {% endif %}
                {% endif %}

                <h1>Login</h1>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    {{ form | crispy }}

                    <input type="submit" value="login">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Need An Account? <a href="{% url 'register' %}" class="ml-2" style="color:darkred;">Sing Up</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
