{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}

<div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-lg-offset-4">
                <h1>Register</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Register" name="Create User">
                </form>
            </div>
        </div>
    </div>

{% endblock %}